.dashboard-container {
    text-align: center;
}

.chart-container {
    width: 70vw;
    height: 50vh;
    margin-left: -10vw;
    position: relative;
}

#title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
